name: Dummy CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      
    - name: Build with GCC
      run: make gcc-build-only

    - name: Run the exe
      run: make run

    - name: Build with CLANG
      run: make clang-build-only
      
    - name: Run the exe
      run: make run